cargan==0.0.4
fairseq==0.12.2
fastdtw==0.3.4
librosa==0.10.2.post1
matplotlib==3.9.2
nnAudio==0.3.3
nnAudio==0.3.3
numpy==2.1.1
onnxruntime==1.18.1
pandas==2.2.2
parselmouth==1.1.1
pesq==0.0.4
progressbar33==2.4
ptflops==0.7.3
pyloudnorm==0.1.1
pymcd==0.2.1
pymp==0.0.6
pysptk==1.0.1
pystoi==0.4.1
pytorch_lightning==1.8.6
pyworld==0.3.4
Requests==2.32.3
scipy==1.14.1
soundfile==0.12.1
torch==2.3.0+cu118
torchaudio==2.3.0+cu118
torchcrepe==0.0.23
tqdm==4.66.4
